<p></p>
<div class="text-center">
<carousel class="col-sm-6 col-sm-offset-3">
    <slide>
      <img class="photo" src="https://is5-ssl.mzstatic.com/image/thumb/Purple122/v4/aa/02/b2/aa02b20a-7ca5-2b52-2ff2-891301aeafc1/source/256x256bb.jpg" alt="first slide" style="display: block; width: 20%;">
    </slide>
    <slide>
      <img class="photo" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSM17s-geO4Zq6nAbWBFCRwwTQ03Jr0JPJYVd7nfJzO7A3R53Y4JQ" alt="second slide" style="display: block; width: 20%;">
    </slide>
  </carousel>
</div>

<!-- <app-about> </app-about> -->

<!-- <router-outlet></router-outlet> -->