 a {
     margin-left: 10px;
 }

 .about {
     color: rgb(43, 174, 226);
     font-family: "Arial", serif;
 }

 .photo {
     width: 130px;
     max-height: 500px;
     margin: 0 auto;
 }

 .yo {
     font-family: 'Courier New', Courier, monospace
 }

 