<div style="text-align:center">
  <h1 class="title">
    {{ title }}
  </h1>
  <alert type="success">Entirely developped by Ya Boii Roy</alert>
  <div>
    <nav>
      <a routerLink='/home/about'>About Bob</a>
      <a routerLink='/home/customer-support' routerLinkActive="active"> Customer support</a>
    </nav>
  </div>

  <img class="photo"
    src="https://cdn10.bigcommerce.com/s-d2dn6h1e/products/77/images/339/bobthebuilder__87641.1444836482.1280.1280.jpg?c=2"
    alt="Bob.">

    <button  id="buttonid" type="button" class="btn btn-primary" (click)="click()">Log Out</button>


  <router-outlet></router-outlet>
</div>